$superBlue : #669BBC;
$superRed : #FF0100;
$superYellow : #F3D405;

*{
    padding:0;
    margin:0;
    line-height:1.4rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:$superBlue;
}

.darkenBackground{
    background-color: darken($color: $superBlue, $amount: 50);
}

p, label{
    opacity: 0.7;
    font-weight: 700;
}

header{

    nav{
        padding:20px;
        display:grid;
        grid-template-columns: 1fr 2fr 1fr ;
        grid-template-areas: 'equation title darkLight';

    }

    .equationBox{
        grid-area: equation;
        font-size: clamp(1em, 3vw, 1.3em);
        background-color:$superYellow;
        padding:10px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px $superRed;
    }

    .navTitle{
        grid-area: title;
        color:$superYellow;
        font-size: clamp(1em, 3vw, 1.5em);;
        line-height: 1.5em;
        text-shadow: 3px 3px 3px darken($superRed, 10);
        text-align: center;
        
    }


}

.gameContainer{
    width: 100%;
    position: relative;
    background-color:#e4e4e4;
    height:80vh;

    .heroLogo{
        display: none;
        width:155px;
        height:100px;
        cursor: pointer;
        position: absolute;
        top:0;
        left:0;
        align-content: center;
        justify-content: center;
    }

    .resultContainer{
        position: absolute;
        display: inline-block;
    
        background-color: rgba($color: #fff, $alpha: 0.3);
        font-size:1.5em;
        font-weight: 700;
        letter-spacing: 1.1px;
        color:#000;
        text-shadow: 1px 1px 1px #fff;
        padding:10px;
    }
}
.resultsModalContainer{
    .btnContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    h3{
        color:$superYellow;
        text-shadow: 1px 1px 1px $superRed;
    }
}

.userDetailsModal, .resultsModalContainer{
    // display: none;

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1000;

    .userDetailsModalContent, .resultsModal{
        //div fit the content
        width:35%;
        background-color:$superBlue;
        padding:20px 50px;
        margin: 35vh auto;
        border:5px solid $superRed;
        border-radius: 5px;
        
        p, label, button{
            color:darken($superRed, 50);
            letter-spacing: 2px;
            margin:20px auto;
        }

        h3{
            margin: 10px 0;
        }

        label{
            margin-right: 10px;
        }

        input{
            margin-top: 20px;
            padding: 5px 10px;
            border:none;
            border-radius:5px;
            &:focus{
                outline: none;
            }
        }

        button{
            background-color:darken($superRed, 10);
            border-radius: 5px;
            padding:5px 25px;
            color:#fff;
            border:none;
            font-weight:700;
            font-size:1.1em;
            letter-spacing: 2px;
            box-shadow:1px 3px 1px #000; 
            cursor:pointer;
        }

        p{
            text-align: center;
            font-size:1.2em;
            margin:20px 0;
        }

        .newHighscore{
            p{
                color:$superYellow;
            }
           
            font-size: 1.3em;
        }
    }

    .resultsModal{
        margin:25vh auto;
    }
}

.resultsModalContainer, .newHighscore {
    display: none;
}

.countdownContainer{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    z-index: 1000;

    .countdown{
        width:100%;
        font-size:clamp(2em, 3vw ,4em);
        padding:20px 50px;
        margin: 40vh auto;
        text-align: center;
        color:$superRed;
    }

}

footer{
    display: flex;
    flex-flow: column;
    padding: 10px;
    // height:auto;


    .scoreContainer{
        padding:10px;
        background-color: $superYellow;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);    
        border:3px solid $superRed;
        border-radius: 5px;
    }
    
}

@media(max-width:1000px){
    .gameRules{
        div{
            width:80%;
            padding:30px 20px;

            .close{
                left:90%;
                bottom:20px;
            }
        }
    }

    .userDetailsModal{
        .userDetailsModalContent{
            width:60%;
        }
    }
}

@media(max-width:860px){

    .userDetailsModal, .resultsModalContainer{
        .userDetailsModalContent, .resultsModal{
            width:80%;
        }
    }
}

@media(max-width:560px){

    .userDetailsModal, .resultsModalContainer{
        .userDetailsModalContent, .resultsModal{
            width:90%;
        }
    }
}