header nav {
  padding: 40px 50px 0 50px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-weight: 700;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

.darkenBackground {
  background: #0b1318;
}

body {
  background-color: #669BBC;
}

.fa-moon {
  color: #291720;
}

.fa-sun {
  color: #F3D405;
}

header {
  width: 100%;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "logo title icons";
}

header nav .navTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  text-align: center;
  letter-spacing: 1px;
}

header nav .navTitle h1 {
  color: #F3D405;
  font-size: 2em;
  line-height: 1.5em;
  text-shadow: 3px 3px 3px #cc0100;
}

header nav .navIcons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icons;
  text-align: right;
  display: inline-block;
}

header nav .navIcons .toggleDarkMode {
  display: inline-block;
  cursor: pointer;
}

header nav .navIcons i {
  font-size: 1.5em;
  margin: 0 5px;
}

header nav img {
  width: 150px;
}

.navLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  text-align: left;
}

.navLogo figcaption {
  color: black;
  font-size: 12px;
  font-weight: 700;
}

/* LEVELS */
main {
  z-index: 0;
}

.levelContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px 20px;
}

.levelContainer .levels {
  background-color: #F3D405;
  border: 5px solid #cc0100;
  border-radius: 5px;
  width: clamp(100px, 100%, 200px);
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-size: clamp(12px, 2vw, 22px);
}

/* CHARACTERS */
.characterContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "char1  start char2 rules char3";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 0 20px;
}

.characterContainer .heroes {
  width: auto;
}

.characterContainer img {
  width: 300px;
}

.characterContainer button {
  background-color: #cc0100;
  border-radius: 5px;
  padding: 5px 25px;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 2px;
  -webkit-box-shadow: 1px 3px 1px #000;
          box-shadow: 1px 3px 1px #000;
  cursor: pointer;
}

.characterContainer .start {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: start;
}

.characterContainer .rules {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: rules;
}

.characterContainer .char1 {
  text-align: left;
}

.characterContainer .char2 {
  text-align: center;
}

.characterContainer .char2 img {
  width: 250px;
}

.characterContainer .char3 {
  margin-right: 50px;
}

.characterContainer .char3 img {
  width: 400px;
}

.characterContainer .char5 img {
  width: 400px;
}

.characterContainer .char6 {
  text-align: right;
}

.characterContainer .char6 img {
  width: 240px;
}

.characterContainer .char7 img {
  width: 240px;
}

.characterContainer .char8 img {
  width: 240px;
}

/* GAME RULES */
.gameRules {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.gameRules div {
  width: 45%;
  margin: 35vh auto;
  background-color: #669BBC;
  padding: 30px 100px;
  border: 5px solid #FF0100;
}

.gameRules div p, .gameRules div h3, .gameRules div .close {
  color: black;
}

.gameRules div p {
  margin: 10px 0;
}

.gameRules div .close {
  position: relative;
  left: 110%;
  bottom: 20px;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 1250px) {
  .gameRules div {
    width: 55%;
  }
  .levelContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .characterContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .char1, .char2, .char4, .char6, .char7, .char9, .char10, .char12 {
    display: none;
  }
  .rules {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  button {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (max-width: 860px) {
  .gameRules div {
    width: 80%;
    padding: 30px 20px;
  }
  .gameRules div .close {
    left: 90%;
    bottom: 20px;
  }
  .levelContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  header nav {
    padding: 20px;
    -ms-grid-columns: 1fr 3fr .5fr;
        grid-template-columns: 1fr 3fr .5fr;
  }
  header nav .navTitle h1 {
    font-size: 1.5em;
  }
  .toggleDarkMode {
    margin-top: 7px;
  }
  .navLogo img {
    width: 100px;
  }
  .characterContainer {
    -ms-grid-columns: 3fr;
        grid-template-columns: 3fr;
        grid-template-areas: 'char';
  }
  .char1, .char2, .char4, .char6, .char7, .char9, .char10, .char12 {
    display: none;
  }
  .myBtns {
    position: absolute;
    top: 0;
    left: 0;
  }
  .start {
    top: 500px;
    left: 15vw;
  }
  .rules {
    top: 500px;
    left: 60vw;
  }
}
/*# sourceMappingURL=styles.css.map */