$superBlue : #669BBC;
$superRed : #FF0100;
$superYellow : #F3D405;

%mySpacing{
    padding:40px 50px 0 50px;
}

*{
    margin:0;
    padding:0;
    line-height:1.4rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-weight: 700;
    opacity: 0.7;
}

a{
    text-decoration: none;
}

.darkenBackground{
    background: darken($color: $superBlue, $amount: 50);
}

body{
    background-color:$superBlue;
    
}

.fa-moon{
    color:#291720;
}

.fa-sun{
    color:$superYellow;
}

header{
    width:100%;

    nav{
        @extend %mySpacing;
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "logo title icons";
        
    .navTitle{
        grid-area: title;
        text-align: center;
        letter-spacing: 1px;

        h1{
            color:$superYellow;
            font-size: 2em;
            line-height: 1.5em;
            text-shadow: 3px 3px 3px darken($superRed, 10);
        }
        
    }

    .navIcons{
        grid-area: icons;
        text-align: right;
        display: inline-block;

        .toggleDarkMode{
            display: inline-block;
            cursor:pointer;
        }

        i{
            font-size: 1.5em;
            margin:0 5px;
        }
    }

    img{
        width:150px;
    }
    }
}

.navLogo{
    grid-area: logo;
    text-align: left;

    figcaption{
        color:darken($color: $superBlue, $amount: 70);
        font-size: 12px;
        font-weight: 700;
    }

}

/* LEVELS */

main{
    z-index: 0;
}

.levelContainer{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-areas: "logo title icons";
    grid-gap:10px;
    padding:20px 20px;

    .levels{
        background-color: $superYellow;
        border:5px solid darken($superRed, 10);
        border-radius: 5px;
        width:200px;
        text-align: center;
        padding:10px;
        margin:0 auto;
    }
}


/* CHARACTERS */

.characterContainer{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "char1  start char2 rules char3";
    align-items: center;
    justify-items: center;
    padding:0 20px;

    .heroes{
        width:auto;
    }

    img{
        width:300px;
    }

    button{
        background-color:darken($superRed, 10);
        border-radius: 5px;
        padding:5px 25px;
        color:#fff;
        border:none;
        font-weight:700;
        font-size:1.1em;
        letter-spacing: 2px;
        box-shadow:1px 3px 1px #000; 
        cursor:pointer;

    }

    .start{
        grid-area: start;

    }

    .rules{
        grid-area: rules;
    }

    .char1{
        text-align: left;
    }

    .char2{
        text-align: center;
        img{
            width: 250px;
            
        }
    }

    .char3{
        margin-right: 50px;

        img{
            width: 400px;
        }
    }

    .char4{}

    .char5{
        img{
            width: 400px;
        }
    }

    .char6{
        text-align: right;
        img{
            width: 240px;
        }
    }

    .char7{
        img{
            width:240px;
        }
    }

    .char8{
        img{
            width:240px;
        }
    }

}


/* GAME RULES */

.gameRules{
    //center in the middle of the page and overlay
    
    visibility: hidden;
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;

    width:100%;
    height:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    
    div{
        //div fit the content

        width:45%;
        margin:35vh auto;
        background-color:$superBlue;
        padding:30px 100px;
        border:5px solid $superRed;
        
        p, h3, .close{
            color:darken($superRed, 50);
        }

        p{
            margin:10px 0;
        }

        .close{
            position:relative;
            left:110%;
            bottom:20px;
            cursor: pointer;
        }
    }
}

.show{
   display: block;
}

.hide{
    display: none;
}


@media(max-width:1250px){
   .gameRules{
       div{
           width:55%;
       }
   }

   .levelContainer{
       grid-template-columns: repeat(2, 1fr);
   }

   .characterContainer{
       grid-template-columns: repeat(3, 1fr);
   }

    .char1, .char2, .char4, .char6, .char7, .char9, .char10, .char12{    
        display: none;
    }

    .rules{
        order: 1;
    }

    button{
        position: relative;
        top:0;
        left:0;
    }
}

@media(max-width:860px){
    .gameRules{
        div{
            width:80%;
            padding:30px 20px;

            .close{
                left:90%;
                bottom:20px;
            }
        }
    }

    
 
    .levelContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    header{
        nav{
            padding:20px;
            grid-template-columns: 1fr 3fr .5fr;
            .navTitle{
                h1{
                    font-size:1.5em;
                }
            }
        }
   
    }

    .toggleDarkMode{
        margin-top: 7px;
    }


    .navLogo{
        img{
            width:100px ;
        }      
    }
 
    .characterContainer{
        grid-template-columns: 3fr;
        grid-template-areas: 'char';
    }
 
     .char1, .char2, .char4, .char6, .char7, .char9, .char10, .char12{    
         display: none;
     }

     .myBtns{
        position: absolute;
        top: 0;
        left:0;
     }

     .start{
         top:500px;
        left:15vw;
     }

     .rules{
         top:500px;
         left: 60vw;
     }
 }